name: Check style
on: [push, pull_request]
jobs:
  style:
    defaults:
      run:
        shell: bash -l {0}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 1
        show-progress: false
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11.5'
    - run: python --version
    - name: Install Python programs
      run: pipx install black; pipx install pylint
    - uses: psf/black@stable
    - run: black --version
    - name: Install shellcheck and checkbashisms
      run: sudo apt install shellcheck devscripts
    - name: Check style
      run: make check-style
